<!-- 共通部分(ヘッダーフッター)は以下をextends -->
{% extends "kintaiapp/common/base.html" %}
{% load static %}
{% block content %}
<body>
    <!-- Digital clock -->
    <div class="clock section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <h1 class="font_benasneue">
                        HELLO USER!
                    </h1>
                    <h1 class="currentTime font_benasneue" id="clock">
                        00:00:00
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Button clock -->
    <div class="dokintai-btn">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <div class="text-center">
                        <a type="button" class="btn bg_rose btn-lg font_benasneue" href="{% url 'dokintai' %}" style="color: inherit;">{{ text }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <!-- Load js file and moment.js for clock -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="{% static 'kintaiapp/js/script.js' %}"></script>
{% endblock %}