<!-- 共通部分(ヘッダーフッター)は以下をextends -->
{% extends "kintaiapp/common/base.html" %}

{% block content %}
    <!-- Digital clock -->
    <div class="clock section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <h1 class="font_benasneue">
                        HELLO USER!
                    </h1>
                    <h1 class="currentTime font_benasneue" id="clock">
                        00:00:00
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Button clock -->
    <div class="dokintai-btn">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <div class="text-center">
                        <button type="button" id="dokintai" class="btn bg_rose btn-lg font_benasneue">Start working</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}