<!-- 共通部分(ヘッダーフッター)は以下をextends -->
{% extends "kintaiapp/common/base.html" %}

{% block content %}
<body class="for_record">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12">
                <h3>Your Working History</h3>
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Break</th>

                    </tr>
                    {% for record in kintailist %}
                    <tr>
                        <td>{{ record.workingday }}</td>
                        <!-- MEMO: no need space bewteen : and "H:i" -->
                        <td>{{ record.begintime | time:"H:i" }}</td>
                        <td>{{ record.finishtime | time:"H:i" }}</td>
                        <td>{{ record.breaktime }}</td>
                        <td><a href="record/edit/{{record.id}}">✏️</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin: 8% 0;">
            {% for date in datelist %}
            <div class="col-4 col-sm-4 each_month text-center">
                <a href="{% url 'record/monthly' %}?year={{date.lastmonth_year}}&month={{date.lastmonth_month}}">← {{ date.lastmonth_year }}/{{ date.lastmonth_month }}</a>
            </div>
            <div class="col-4 col-sm-4 each_month text-center">
                <a href="{% url 'record' %}">This Month</a>
            </div>
            <div class="col-4 col-sm-4 each_month text-center">
                <a href="{% url 'record/monthly' %}?year={{date.nextmonth_year}}&month={{date.nextmonth_month}}">{{ date.nextmonth_year }}/{{ date.nextmonth_month }} →</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}