h1 {
    text-align: center;
}

.navbar {
    font-size: 20px;
}

.navbar-brand{
    font-size: 35px;
}

.btn {
    font-size: 30px;
    box-shadow: 2px 2px 4px rgb(161, 161, 161);
}

.currentTime {
    text-align: center;
}