.font_benasneue {
    font-family: 'Bebas Neue', cursive;
}

h1 {
    text-align: center;
}

.bg_rose {
    background-color: rgb(238, 231, 231);
}

.navbar {
    font-size: 20px;
}

.navbar-brand{
    font-size: 35px;
}

.btn {
    font-size: 30px;
    box-shadow: 2px 2px 4px rgb(161, 161, 161);
}

.section {
    background-color: #ffffff;
    padding:100px 0 60px;
}

.currentTime {
    text-align: center;
}

